.map-container {
  height: 60vh;
  border-radius: 0.375rem;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  
.mapboxgl-popup-close-button {
  padding: 3px;
  padding-right: 7px;
  padding-left: 5px;
}

.mapboxgl-canvas {
  border-radius: 0.375rem;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  
.mapboxgl-popup-close-button {
  padding: 3px;
  padding-right: 7px;
  padding-left: 5px;
}

.map-container-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}